body {
    font-family: 'Arial', sans-serif;
    background-color: transparent;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjusted from 10vh to 100vh to cover full viewport height */
    overflow: hidden;
  }
  
  .background-slider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center; /* Center items vertically */
  }
  
  .App {
    text-align: center;
    background: whitesmoke;
    padding: 10px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }
  
  h2 {
    margin-bottom: 20px;
    color: black;
  }
  
  form {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: calc(100% - 20px);
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 1px;
    font-size: 16px;
    transition: border-color 0.3s ease;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    border-color: #4caf50;
    outline: none;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049; /* Slightly darker green for hover */
  }
  
  p {
    margin-top: 20px;
    color: black;
  }
  
  a {
    color: #4caf50;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #45a049; /* Slightly darker green for hover */
  }
  